/* Back to top button */
.cd-top  {
  position: fixed;
  display: none;
  background: #3f98d0;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  
}
.cd-top {
  padding-top: 12px;
  color: #fff;
}
.cd-top:hover{
	color:#fff;
}

@media (max-width: 768px) {
  .cd-top {
    bottom: 15px;
  }
}

